@model BookCave.Models.ViewModels.AuthorListViewModel

<p>@Model.Name, Nationality: @Model.Nationality</p>
<p>Books:</p>
@foreach(var book in @Model.Book)
{
  <p><a asp-controller="Book"asp-action="Details" asp-route-id="@book.Id">@book.Title</a></p>
}

