@model BookCave.Models.ViewModels.BillingAddressViewModel

<div class="container">
  <div class="row" id="billing-address">
    <div class="col-lg-3">
      <h3>My Billing Address</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <form asp-controller="Account" asp-action="MyBillingAddress" method="POST">
        <div class="form-group">
          <label for="street">Street Address:</label>
          <input type="text" class="form-control" id="street" asp-for="StreetAdress" 
          placeholder="Street Address" value="@Model.StreetAdress">
        </div>
        <div class="form-group">
          <label for="city">City:</label>
          <input type="text" class="form-control" id="city" asp-for="TownCity"
          placeholder="City" value="@Model.TownCity">
        </div>
        <div class="form-group">
          <label for="zip">Zip Code:</label>
          <input type="text" class="form-control" id="zip" asp-for="ZipPostcode"
          placeholder="Zip Code" value="@Model.ZipPostcode">
        </div>
        <div class="form-group">
          <label for="country">Country:</label>
          <input type="text" class="form-control" id="country" asp-for="Country"
          placeholder="Country" value="@Model.Country">
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-primary btn-lg">
        </div>
      </form>
    </div>
  </div>
</div>

<!--
<h2>Billing Information</h2>
<form asp-action="MyBillingAddress" asp-controller="Account" class="form-horizontal" method="POST">
  <div class="form-group">
    <input type="text" autofocus="autofocus" class="form-control" asp-for="PropertyName"
     placeholder="Enter your property name.." value="@Model.PropertyName">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" asp-for="StreetAdress"
     placeholder="Enter your street address.." value="@Model.StreetAdress">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" asp-for="TownCity"
     placeholder="Enter your town city.." value="@Model.TownCity">
  </div>
  <div class="form-group">
    <input type="text" class="form-control" asp-for="ZipPostcode"
     placeholder="Enter your zip post code.." value="@Model.ZipPostcode">
   <div class="form-group">
    <input type="text"  class="form-control" asp-for="Country"
     placeholder="Enter your country.." value="@Model.Country">
  </div>
  <div class="form-group">
    <input type="submit" value="Update Billing Information" class"btn btn-default">
  </div>
</form>
-->