@model BookCave.Models.ViewModels.ProfileViewModel

<div class="container">
  <div class="row" id="myProfile">
    <div class="col-lg-3">
      <h3>My Profile</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <form asp-controller="Account" asp-action="MyProfile" method="POST">
        <div class="form-group">
          <label for="first-name">First Name:</label>
          <input type="text" class="form-control" id="first-name" asp-for="FirstName" 
          placeholder="First Name" value="@Model.FirstName">
        </div>
        <div class="form-group">
          <label for="last-name">Last Name:</label>
          <input type="text" class="form-control" id="last-name" asp-for="LastName"
          placeholder="Last Name" value="@Model.LastName">
        </div>
        <div class="form-group">
          <label for="favorite-book">Favorite Book:</label>
          <input type="text" class="form-control" id="favorite-book" asp-for="FavoriteBook"
          placeholder="Favorite Book" value="@Model.FavoriteBook">
        </div>
        <div class="form-group">
          <label for="age">Age:</label>
          <input type="number" class="form-control" id="country" asp-for="Age"
          placeholder="Age" value="@Model.Age">
        </div>
        <div class="form-group">
          <label for="image-url">Image URL:</label>
          <input type="text" class="form-control" asp-for="Image"
          placeholder="Image URL" value="@Model.Image">
        </div>
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-primary btn-sm">
        </div>
      </form>
      <br>
      <a class="btn btn-primary" asp-controller="Account" asp-action="Index">Back to Profile</a>
    </div>
  </div>
</div>
