@model List<BookCave.Models.ViewModels.BookListViewModel>

<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div id="bestsellers-audio-heading">
                <h2>Best Sellers</h2>
                <h4>Audiobooks</h4>
            </div>
        </div>
        <div class="col-lg-2"></div>
    </div>
    @foreach (var book in @Model)
    {
        <div class="row">
            <div class="col-lg-3"></div>
            <div class="col-lg-6">
                <div id="bestsellers-audio-container">
                    <h3><a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">@book.Title</a></h3>
                    <h5>by <a asp-controller="Author" asp-action="Details" asp-route-id="@book.AuthorsId">
                        @book.Author</a>
                    </h5>
                    <a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id"><img src="@book.Image" alt="book-cover" width="250" height="320" class="img-rounded"></a>
                    <h2>Rating: @book.Rating</h2>
                    <a href="#" class="btn btn-md"><span class="glyphicon glyphicon-heart"></span> Add to Wishlist</a>
                </div>
            </div>
            <div class="col-lg-3"></div>
        </div>
    }
    <br><br><br>
</div>