@model BookCave.Models.ViewModels.BookDetailedViewModel

<img src="@Model.Image" alt="book-cover">
<p>@Model.Title </p>
<p>Author: @Model.Author</p>
<p>Price: @Model.Price</p>
<p>Rating: @Model.Rating</p>
<p>Format: @Model.Format</p>
<p>Year: @Model.PublicationYear</p>
<p>Page count:@Model.PageCount </p>
<p>Language: @Model.Language</p>
<p>@Model.ShortDescription</p>