@model BookCave.Models.ViewModels.BookDetailedViewModel

<div class="container">
    <div id="book-container">
        <img src="@Model.Image" alt="book-cover" width="250" height="320" class="img-rounded">
        <div id="book-details">
            <p><a href="#">@Model.Title</a></p>
            <p>Author: <a href="#">@Model.Author</a></p>
            <p>Price: @Model.Price$</p>
            <p>Rating: @Model.Rating</p>
            <p>Format: @Model.Format</p>
            <p>Year: @Model.PublicationYear</p>
            <p>Page count: @Model.PageCount </p>
            <p>Language: @Model.Language</p>
            <p>Genre: @Model.Genre</p>
        </div>
    </div>
    <div id="book-description">
        <p>@Model.ShortDescription</p>
    </div>
</div>