@model List<BookCave.Models.ViewModels.BookListViewModel>

<h3>Search results for "@ViewBag.searchTerm"</h3>
<div>
    <div class="row" id="books-header-container">
        <div class="col-lg-5">
            <br><hr>
        </div>
        <div class="col-lg-2">
        </div>
        <div class="col-lg-5">
            <br><hr>
        </div>
    </div>
    <div class="container" id="book-frontpage-container">
        <div class="row">
            @foreach (var book in @Model)
            {
                <div class="col-lg-3">
                    <div id="book-frontpage">
                    <!--
                        <ul>
                            <li><a href="#"><img src="@book.Image" alt="book-cover" width="100" height="140"></a></li>
                            <li><p><a href="#">@book.Title</a></p></li>
                            <li><p>by <a href="#">Author</a></p></li>
                            <li><p>@book.Rating</p></li>
                        </ul> -->
                        
                        <a href="#"><img src="@book.Image" alt="book-cover" width="130" height="180"></a>
                        <div id="book-details-frontpage">
                            <p><a asp-controller="Book" asp-action="Details" asp-route-id="@book.Id">@book.Title</a></p>
                            <p>by <a asp-controller="Author" asp-action="Details" asp-route-id="@book.AuthorsId">@book.Author</a></p>
                            <p>@book.Rating</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>