@model List<BookCave.Models.ViewModels.BookListViewModel>

<h2>Search results for @ViewBag.searchTerm</h2>
<div>
    @foreach (var book in @Model)
    {
        <div>
            <img class="book-img" src="@book.Image" alt="book-cover">
            <p title="@book.Format" class="book-title">@book.Title</p>
            <p class="author-name">@book.Author</p>
            <p class="book-rating">@book.Rating</p>
            <p title="@book.Id" class="book-price">@book.Price</p>
            <button type="button" name="Id" class="add-to-cart btn btn-primary" value="@book.Id">Add to cart</button>
        </div>
    }
</div>